# =========================
# Flutter / Dart
# =========================

.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/

# =========================
# Android Studio / IntelliJ
# =========================

.idea/
*.iml

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Android
# =========================

android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# =========================
# iOS
# =========================

ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# =========================
# macOS
# =========================

macos/Pods/
macos/Flutter/ephemeral/

# =========================
# Linux
# =========================

linux/flutter/ephemeral/

# =========================
# Windows
# =========================

windows/flutter/ephemeral/

# =========================
# Misc
# =========================

.DS_Store
*.log
firebase-debug.log
*.zip

.env